<!doctype html>

<html ng-app="app">

  <head>

    <title>

      Freedom

    </title>

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7425932/613646/css/fonts.css">

    <link rel="stylesheet" href="index.css">

    <script src="modernizr.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

    <script src="index.js"></script>

    <script src="app.js"></script>

  </head>

  <body ng-controller="Controller">

    <main>

      <header>

        <h1 ng-click="scrollToY( 0 );">

          Freedom

        </h1>

      </header>

      <nav>

        <a ng-href="#{{ model.url }}" ng-click="scroll( $event , model )" ng-repeat="model in data.models | orderBy : 'name'">

          <figure>

            <img ng-src="{{ 'https://s3-us-west-2.amazonaws.com/original.freedommodels.com/' + model.image.url }}">

            <figcaption>

              <h2>

                {{ model.name }}

              </h2>

            </figcaption>

          </figure>

        </a>

      </nav>

      <section id="{{ model.url }}" class="parallax" ng-repeat="model in data.models | orderBy : 'name'">

        <figure>

          <figcaption>

            <h3>

              {{ model.name }}

            </h3>

            <label for="{{ model.url }}-{{ album.url }}" ng-click="open( model.url , album.url )" ng-repeat="album in model.albums">

              View {{ album.name }}

            </label>

          </figcaption>

          <img ng-src="{{ 'https://s3-us-west-2.amazonaws.com/original.freedommodels.com/' + model.image.url }}">

          <figcaption>

            <h4>

              Measurements

            </h4>

            <dl>

              <dt>

                Height

              </dt>

              <dd>

                {{ model.height }}

              </dd>

              <dt>

                Bust

              </dt>

              <dd>

                {{ model.bust }}

              </dd>

              <dt>

                Waist

              </dt>

              <dd>

                {{ model.waist }}

              </dd>

              <dt>

                Hip

              </dt>

              <dd>

                {{ model.hip }}

              </dd>

              <dt>

                Dress

              </dt>

              <dd>

                {{ model.dress }}

              </dd>

              <dt>

                Shoe

              </dt>

              <dd>

                {{ model.shoe }}

              </dd>

              <dt>

                Hair

              </dt>

              <dd>

                {{ model.hair }}

              </dd>

              <dt>

                Eyes

              </dt>

              <dd>

                {{ model.eye }}

              </dd>

            </dl>

          </figcaption>

        </figure>

        <input type="radio" name="{{ model.url }}" id="{{ model.url }}-{{ album.url }}" ng-repeat="album in model.albums">

        <input type="radio" name="{{ model.url }}" id="{{ model.url }}-closed" checked>

        <aside ng-repeat="album in model.albums">

          <label for="{{ model.url }}-closed" ng-click="close( model.url , album.url )">

            Close Book

          </label>

          <input type="radio" name="{{ model.url }}-{{ album.url }}" id="{{ model.url }}-{{ album.url }}-{{ page }}" ng-repeat="page in album.pages">

          <figure class="{{ image.class }}" ng-repeat="image in album.images">

            <img ng-src="{{ 'https://s3-us-west-2.amazonaws.com/original.freedommodels.com/' + image.url }}">

          </figure>

          <nav>

            <label for="{{ model.url }}-{{ album.url }}-{{ page }}" ng-repeat="page in album.pages">

              {{ page }}

            </label>

          </nav>

          <nav>

            <label for="{{ model.url }}-{{ album.url }}-{{ page }}" ng-repeat="page in album.pages">

              {{ page }} >

            </label>

          </nav>

        </aside>

      </section>

      <footer>

        <em>Freedom</em>

        820 N. Fairfax West Hollywood, CA 90046

        <a href="href=tel:2132613810">

          Ph: 213.261.3810

        </a>

        <a href="mailto:info@freedommodels.com">

          info@freedommodels.com

        </a>

      </footer>

    </main>

    <span>

      Please use a modern browser to visit Freedom.

    </span>

    <noscript>

      Please use a modern browser with javascript enabled to visit Freedom.

    </noscript>

  </body>

</html>
