html {

  font: 100 normal 16px / 1.375 'Gotham SSm A' , 'Gotham SSm B' , 'Helvetica Neue' , 'Arial' , sans-serif;
  webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  text-align: center;

}

body, h1, h2, h3, figure, p {

  margin: 0;

}

h1 {

  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1.75rem;
  font-weight: 400;
  cursor: pointer;

}

h2 {

  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: .8rem;
  font-weight: 300;

}

h3 {

  margin: 1.625rem .5rem 1.625rem 0;
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
  font-size: 2rem;

}

a {

  text-decoration: none;
  color: black;

}

/* No support warning */

main, span {

  display: none;

}

.flexbox main {

  display: block;

}

.no-flexbox span {

  position: absolute;
  margin-top: -11px;
  display: block;
  width: 62.5%;
  left: 18.75%;
  top: 50%;

}

/* Header */

header {

  position: -webkit-sticky;
  margin-top: -webkit-calc( 8.333vh - 22px );
  background: rgba( 255 , 255 , 255 , 1 );
  margin-top: calc( 8.333vh - 22px );
  line-height: 44px;
  z-index: 1;
  top: 0;

}

.sticky {

  position: fixed;
  margin-top: 0;
  right: 0;
  left: 0;
  top: 0;

}

.sticky + nav {

  padding-top: calc( 8.333vh + 22px );

}

/* Nav */

main > nav {

  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;

  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 15vh 12.5vw 7.5vh 12.5vw;
  margin-top: calc( 7.084vh - 22px );

  min-height: 75vh;

}

main > nav > a {

  box-shadow: 0 2px 5px 0 rgba( 0 , 0 , 0 , 0.26 ), 0 2px 10px 0 rgba( 0 , 0 , 0 , 0.16 );
  overflow: hidden;
  height: 36.25vh;
  width: 24.167vh;
  margin: 1.25vh;

}

main > nav > a > figure {

  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;

}

main > nav > a > figure > figcaption {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  -webkit-align-items: center;

  justify-content: center;
  align-items: center;

  background: rgba( 255 , 255 , 255 , 1 );
  position: absolute;
  height: 16.667%;
  bottom: 0;
  right: 0;
  left: 0;

}

main > nav > a > figure img {

  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;

}

/* Section */

section > figure {

  position: relative;
  max-height: 75vw;
  height: 100vh;

}

section > figure label {

  text-transform: uppercase;
  letter-spacing: .15em;
  margin-right: .5rem;
  font-size: .625rem;
  line-height: 35px;
  font-weight: 400;

}

section > figure label:nth-of-type(1) {

  margin: 1.375rem .5rem 1.375rem 0;
  border: 1px solid #000;
  min-width: 115px;

}

section > figure img {

  box-shadow: 0 2px 5px 0 rgba( 0 , 0 , 0 , 0.26 ), 0 2px 10px 0 rgba( 0 , 0 , 0 , 0.16 );
  margin: 9.375% 0;
  height: 81.25%;

}

section figcaption {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  -webkit-flex-direction: column;

  justify-content: center;
  flex-direction: column;

  position: absolute;
  height: 100%;
  width: 25%;
  top: 0;

}

section figcaption:first-of-type {

  -webkit-align-items: flex-end;

  align-items: flex-end;

  left: 0;

}

section figcaption:last-of-type {

  -webkit-align-items: flex-start;

  align-items: flex-start;

  right: 0;

}

section figcaption:last-of-type > h4 {

  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-left: .5rem;
  font-weight: 400;
  font-size: .7rem;

}

section input {

  display: none;

}

section dl {

  margin: 0 0 0 .5rem;
  font-size: 0;
  padding: 0;

}

section dl dt,
section dl dd {

  float: left;
  font-size: .7rem;
  text-align: left;
  padding: 0;
  margin: 0;

}

section dl dt {

  text-transform: uppercase;
  padding-right: 5px;
  font-weight: 400;
  clear: left;

}
section dl dd {

  font-weight: 600;

}

/* Aside */

aside {

  -webkit-transition: all .3s ease-in-out;

  background: rgba( 245 , 245 , 245 , 1 );
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;

}

section input:nth-of-type( 1 ):checked ~ aside:nth-of-type( 1 ),
section input:nth-of-type( 2 ):checked ~ aside:nth-of-type( 2 ),
section input:nth-of-type( 3 ):checked ~ aside:nth-of-type( 3 ) {

  max-height: 62.5vw;
  height: 100vh;

}

aside > label {

  color: rgba( 0 , 0 , 0 , .5 );
  text-transform: uppercase;
  letter-spacing: .15em;
  position: absolute;
  font-size: .625rem;
  font-weight: 400;
  margin: auto;
  top: 8.333%;
  z-index: 1;
  right: 0;
  left: 0;

}

aside figure {

  -webkit-transition: -webkit-transform .3s ease-in-out;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  width: 100%;

}

aside .right,
aside .left {

  width: 50%;

}

aside .right img,
aside .left img {

  margin: 0.6125%;

}

aside .right img {

  right: auto;

}

aside .left img {

  left: auto;

}

aside img {

  position: absolute;
  height: 81.375%;
  margin: auto;
  top: 12.5%;
  right: 0;
  left: 0;

}

/* Image navigation */

aside input:nth-of-type( 1 ):checked ~ figure {

  -webkit-transform: none;

}

aside input:nth-of-type( 2 ):checked ~ figure {

  -webkit-transform: -webkit-translateX( -100vw );

}

aside input:nth-of-type( 3 ):checked ~ figure {

  -webkit-transform: -webkit-translateX( -200vw );

}

aside input:nth-of-type( 4 ):checked ~ figure {

  -webkit-transform: -webkit-translateX( -300vw );

}

aside input:nth-of-type( 5 ):checked ~ figure {

  -webkit-transform: -webkit-translateX( -400vw );

}

/* Dot navigation */

aside nav:first-of-type {

  position: absolute;
  bottom: .75%;
  right: 0;
  left: 0;

}

aside nav:first-of-type label {

  -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 1px solid rgba( 0 , 0 , 0 , .35 );
  display: inline-block;
  padding-bottom: 8px;
  border-radius: 100%;
  font-size: 0;
  margin: 10px;
  width: 8px;
  height: 0;

}

aside nav:first-of-type label:hover {

  background: rgba( 0 , 0 , 0 , 1 );

}

aside nav:first-of-type label:nth-of-type( 1 ) {

  background: rgba( 0 , 0 , 0 , 1 );

}

aside input:checked ~ nav:first-of-type label {

  background: rgba( 0 , 0 , 0 , 0 );

}

aside input:nth-of-type( 1 ):checked ~ nav:first-of-type label:nth-of-type( 1 ),
aside input:nth-of-type( 2 ):checked ~ nav:first-of-type label:nth-of-type( 2 ),
aside input:nth-of-type( 3 ):checked ~ nav:first-of-type label:nth-of-type( 3 ),
aside input:nth-of-type( 4 ):checked ~ nav:first-of-type label:nth-of-type( 4 ),
aside input:nth-of-type( 5 ):checked ~ nav:first-of-type label:nth-of-type( 5 ) {

  background: rgba( 0 , 0 , 0 , 1 );

}

/* Arrow navigation */

aside nav:last-of-type {

  position: absolute;
  height: 81.375%;
  width: 100%;
  top: 12.5%;

}

aside nav:last-of-type label:before {

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  position: absolute;
  height: 35px;
  right: 35px;
  content: '';
  width: 35px;
  opacity: .5;
  top: 40%;

}

aside nav:last-of-type label {

  position: absolute;
  display: none;
  height: 100%;
  right: auto;
  left: auto;
  width: 50%;
  top: 0;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

}

aside nav:last-of-type label:nth-of-type( 2 ) {

  display: block;
  right: 0;

}

aside input:checked ~ nav:last-of-type label {

  display: none;
  right: auto;

}

aside input:nth-of-type( 1 ):checked ~ nav:last-of-type label:nth-of-type( 2 ),
aside input:nth-of-type( 2 ):checked ~ nav:last-of-type label:nth-of-type( 3 ),
aside input:nth-of-type( 3 ):checked ~ nav:last-of-type label:nth-of-type( 4 ),
aside input:nth-of-type( 4 ):checked ~ nav:last-of-type label:nth-of-type( 5 ) {

  display: block;
  right: 0;

}

/* previous */

aside input:nth-of-type( 2 ):checked ~ nav:last-of-type label:nth-of-type( 1 ),
aside input:nth-of-type( 3 ):checked ~ nav:last-of-type label:nth-of-type( 2 ),
aside input:nth-of-type( 4 ):checked ~ nav:last-of-type label:nth-of-type( 3 ),
aside input:nth-of-type( 5 ):checked ~ nav:last-of-type label:nth-of-type( 4 ) {

  display: block;
  left: 0;

}

aside input:nth-of-type( 2 ):checked ~ nav:last-of-type label:nth-of-type( 1 ):before,
aside input:nth-of-type( 3 ):checked ~ nav:last-of-type label:nth-of-type( 2 ):before,
aside input:nth-of-type( 4 ):checked ~ nav:last-of-type label:nth-of-type( 3 ):before,
aside input:nth-of-type( 5 ):checked ~ nav:last-of-type label:nth-of-type( 4 ):before {

  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);

  left: 35px;

}


/* Footer */

footer {

  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;

  justify-content: center;
  flex-direction: column;
  align-items: center;

  max-height: 75vw;
  height: 100vh;

  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .625rem;
  line-height: 2.25;
  font-weight: 300;

}

footer em {

  letter-spacing: 0.25em;
  font-style: normal;
  font-weight: 400;
  font-size: .9rem;

}
