html {

  font: 100 normal 16px / 1.375 'Gotham SSm A' , 'Gotham SSm B' , 'Helvetica Neue' , 'Arial' , sans-serif;
  webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  text-align: center;

}

body, h1, h2, h3, figure, p {

  margin: 0;

}

h1 {

  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1.75rem;
  font-weight: 400;

}

h2 {

  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: .8rem;
  font-weight: 300;

}

h3 {

  text-transform: uppercase;
  margin: 1.625rem 0;
  font-weight: 300;
  font-size: 2rem;

}

a {

  text-decoration: none;
  color: black;

}

/* No support warning */

main, span {

  display: none;

}

.flexbox main {

  display: block;

}

.no-flexbox span {

  position: absolute;
  margin-top: -11px;
  width: 62.5%;
  left: 18.75%;
  top: 50%;

}

/* Header */

header {

  position: -webkit-sticky;
  /*background: white;*/
  line-height: 44px;
  top: 0;

}

/* Nav */

main > nav {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  -webkit-align-items: center;

  justify-content: center;
  align-items: center;

  max-height: 75vw;
  height: 100vh;

}

main > nav > a {

  box-shadow: 0 2px 5px 0 rgba( 0 , 0 , 0 , 0.26 ), 0 2px 10px 0 rgba( 0 , 0 , 0 , 0.16 );
  overflow: hidden;
  height: 36.25vh;
  width: 24.167vh;
  margin: 1.25vh;

}

main > nav > a > figure {

  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;

}

main > nav > a > figure > figcaption {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  -webkit-align-items: center;

  justify-content: center;
  align-items: center;

  background: rgba( 255 , 255 , 255 , 1 );
  position: absolute;
  height: 16.667%;
  bottom: 0;
  right: 0;
  left: 0;

}

main > nav > a > figure img {

  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;

}

/* Section */

section > figure {

  position: relative;
  max-height: 75vw;
  height: 100vh;

}

section > figure label {

  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .625rem;
  line-height: 35px;
  font-weight: 400;

}

section > figure label:nth-of-type(1) {

  border: 1px solid #000;
  margin: 1.375rem 0;
  min-width: 115px;

}

section > figure img {

  box-shadow: 0 2px 5px 0 rgba( 0 , 0 , 0 , 0.26 ), 0 2px 10px 0 rgba( 0 , 0 , 0 , 0.16 );
  height: 81.25%;

}

section figcaption {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  -webkit-flex-direction: column;

  justify-content: center;
  flex-direction: column;

  position: absolute;
  height: 100%;
  width: 25%;
  top: 0;

}

section figcaption:first-of-type {

  -webkit-align-items: flex-end;

  align-items: flex-end;

  left: 0;

}

section figcaption:last-of-type {

  -webkit-align-items: flex-start;

  align-items: flex-start;

  right: 0;

  font-weight: 600;
  font-size: .7rem;

}

section figcaption:last-of-type > h4 {

  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: .7rem;

}

section input {

  display: none;

}

/* Aside */

aside {

  -webkit-transition: all .3s ease-in-out;

  background: rgba( 245 , 245 , 245 , 1 );
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;

}

section input:nth-of-type( 1 ):checked ~ aside:nth-of-type( 1 ),
section input:nth-of-type( 2 ):checked ~ aside:nth-of-type( 2 ),
section input:nth-of-type( 3 ):checked ~ aside:nth-of-type( 3 ) {

  max-height: 62.5vw;
  height: 100vh;

}

aside > label {

  color: rgba( 0 , 0 , 0 , .5 );
  text-transform: uppercase;
  letter-spacing: .15em;
  position: absolute;
  font-size: .625rem;
  font-weight: 400;
  margin: auto;
  top: 8.333vh;
  z-index: 1;
  right: 0;
  left: 0;

}

aside figure {

  -webkit-transition: -webkit-transform .3s ease-in-out;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  width: 100%;

}

aside .right,
aside .left {

  width: 50%;

}

aside .right img,
aside .left img {

  margin: 0.6125%;

}

aside .right img {

  right: auto;

}

aside .left img {

  left: auto;

}

aside img {

  position: absolute;
  height: 81.375%;
  margin: auto;
  top: 12.5%;
  right: 0;
  left: 0;

}

aside nav {

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

}

aside input:nth-of-type( 1 ):checked ~ figure {

  -webkit-transform: none;

}

aside input:nth-of-type( 2 ):checked ~ figure {

  -webkit-transform: translateX( -100vw );

}

aside input:nth-of-type( 3 ):checked ~ figure {

  -webkit-transform: translateX( -200vw );

}

aside input:nth-of-type( 4 ):checked ~ figure {

  -webkit-transform: translateX( -300vw );

}

aside input:nth-of-type( 5 ):checked ~ figure {

  -webkit-transform: translateX( -400vw );

}

aside input:nth-of-type( 6 ):checked ~ figure {

  -webkit-transform: translateX( -500vw );

}

aside input:nth-of-type( 7 ):checked ~ figure {

  -webkit-transform: translateX( -600vw );

}

aside input:nth-of-type( 8 ):checked ~ figure {

  -webkit-transform: translateX( -700vw );

}

nav label:before {

  webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid rgba( 0 , 0 , 0 , .5 );
  border-top: 2px solid rgba( 0 , 0 , 0 , .5 );
  position: absolute;
  height: 35px;
  right: 35px;
  content: '';
  width: 35px;
  top: 40%;

}

nav label {

  position: absolute;
  display: none;
  height: 100%;
  font-size: 0;

}

aside input:nth-of-type( 1 ):checked ~ nav label:nth-of-type(2),
aside input:nth-of-type( 2 ):checked ~ nav label:nth-of-type(1),
aside input:nth-of-type( 2 ):checked ~ nav label:nth-of-type(3),
aside input:nth-of-type( 3 ):checked ~ nav label:nth-of-type(2),
aside input:nth-of-type( 3 ):checked ~ nav label:nth-of-type(4),
aside input:nth-of-type( 4 ):checked ~ nav label:nth-of-type(3),
aside input:nth-of-type( 4 ):checked ~ nav label:nth-of-type(5),
aside input:nth-of-type( 5 ):checked ~ nav label:nth-of-type(4),
aside input:nth-of-type( 5 ):checked ~ nav label:nth-of-type(6),
aside input:nth-of-type( 6 ):checked ~ nav label:nth-of-type(5),
aside input:nth-of-type( 6 ):checked ~ nav label:nth-of-type(7),
aside input:nth-of-type( 7 ):checked ~ nav label:nth-of-type(6),
aside input:nth-of-type( 7 ):checked ~ nav label:nth-of-type(8),
aside input:nth-of-type( 8 ):checked ~ nav label:nth-of-type(7)
aside input:nth-of-type( 8 ):checked ~ nav label:nth-of-type(9) {

  display: block;

}

/* prev */

aside input:nth-of-type( 2 ):checked ~ nav label:nth-of-type(1),
aside input:nth-of-type( 3 ):checked ~ nav label:nth-of-type(2),
aside input:nth-of-type( 4 ):checked ~ nav label:nth-of-type(3),
aside input:nth-of-type( 5 ):checked ~ nav label:nth-of-type(4),
aside input:nth-of-type( 6 ):checked ~ nav label:nth-of-type(5),
aside input:nth-of-type( 7 ):checked ~ nav label:nth-of-type(6),
aside input:nth-of-type( 8 ):checked ~ nav label:nth-of-type(7),
aside input:nth-of-type( 9 ):checked ~ nav label:nth-of-type(8) {

  left: 0;

}

aside input:nth-of-type( 2 ):checked ~ nav label:nth-of-type(1):before,
aside input:nth-of-type( 3 ):checked ~ nav label:nth-of-type(2):before,
aside input:nth-of-type( 4 ):checked ~ nav label:nth-of-type(3):before,
aside input:nth-of-type( 5 ):checked ~ nav label:nth-of-type(4):before,
aside input:nth-of-type( 6 ):checked ~ nav label:nth-of-type(5):before,
aside input:nth-of-type( 7 ):checked ~ nav label:nth-of-type(6):before,
aside input:nth-of-type( 8 ):checked ~ nav label:nth-of-type(7):before,
aside input:nth-of-type( 9 ):checked ~ nav label:nth-of-type(8):before {

  webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  right: auto;
  left: 35px;

}


/* next */

aside input:nth-of-type( 1 ):checked ~ nav label:nth-of-type(2),
aside input:nth-of-type( 2 ):checked ~ nav label:nth-of-type(3),
aside input:nth-of-type( 3 ):checked ~ nav label:nth-of-type(4),
aside input:nth-of-type( 4 ):checked ~ nav label:nth-of-type(5),
aside input:nth-of-type( 5 ):checked ~ nav label:nth-of-type(6),
aside input:nth-of-type( 6 ):checked ~ nav label:nth-of-type(7),
aside input:nth-of-type( 7 ):checked ~ nav label:nth-of-type(8),
aside input:nth-of-type( 8 ):checked ~ nav label:nth-of-type(9) {

  right: 0;

}


/* Footer */

footer {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-height: 75vw;
  height: 100vh;

  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
  background: -moz-linear-gradient(top, #ffffff,#f5f5f5);
  background: -o-linear-gradient(top, #ffffff,#f5f5f5);
  background: -ms-linear-gradient(top, #ffffff,#f5f5f5);
  background: linear-gradient(to bottom, #ffffff,#f5f5f5);

  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .625rem;
  line-height: 2.25;
  font-weight: 300;

}

footer em {

  letter-spacing: 0.25em;
  font-style: normal;
  font-weight: 400;
  font-size: .9rem;

}
