<!doctype html>

<html ng-app="app">

  <head>

    <title>

      Freedom

    </title>

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7425932/613646/css/fonts.css">

    <link rel="stylesheet" href="index.css">

    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

    <script src="modernizr.js"></script>

    <script src="index.js"></script>

  </head>

  <body ng-controller="Controller">

    <main>

      <header>

        <h1>

          Freedom

        </h1>

      </header>

      <nav>

        <a ng-href="#{{ model.url }}" ng-repeat="model in data.models">

          <figure>

            <img ng-src="{{ model.image.url }}">

            <figcaption>

              <h2>

                {{ model.name }}

              </h2>

            </figcaption>

          </figure>

        </a>

      </nav>

      <section id="{{ model.url }}" ng-repeat="model in data.models">

        <figure>

          <figcaption>

            <h3>

              {{ model.name }}

            </h3>

            <label for="{{ model.url }}-{{ album.url }}" ng-repeat="album in model.albums">

              {{ album.name }}

            </label>

          </figcaption>

          <img ng-src="{{ model.image.url }}">

          <figcaption>

            <p>

              {{ model.height }}

            </p>

            <p>

              {{ model.chest }}

            </p>

            <p>

              {{ model.waist }}

            </p>

            <p>

              {{ model.hip }}

            </p>

            <p>

              {{ model.dress }}

            </p>

            <p>

              {{ model.shoe }}

            </p>

            <p>

              {{ model.hair }}

            </p>

            <p>

              {{ model.eyes }}

            </p>

          </figcaption>

        </figure>

        <input type="radio" name="{{ model.url }}" id="{{ model.url }}-{{ album.url }}" ng-repeat="album in model.albums">

        <input type="radio" name="{{ model.url }}" id="{{ model.url }}-closed" checked>

        <aside ng-repeat="album in model.albums">

          <label for="{{ model.url }}-closed">

            Close

          </label>

          <input type="radio" name="{{ model.url }}-{{ album.url }}" id="{{ model.url }}-{{ album.url }}-{{ page }}" ng-repeat="page in album.pages">

          <figure class="{{ image.class }}" ng-repeat="image in album.images">

            <img ng-src="{{ image.url }}">

          </figure>

          <nav>

            <label for="{{ model.url }}-{{ album.url }}-{{ page }}" ng-repeat="page in album.pages">

              {{ page }}

            </label>

          </nav>

        </aside>

      </section>

      <footer>

        Freedom

      </footer>

    </main>

    <span>

      Please use a modern browser to visit Freedom.

    </span>

    <noscript>

      Please use a modern browser with javascript enabled to visit Freedom.

    </noscript>

  </body>

</html>
